<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="appointments content">
    <h2>Events today</h2>

    <!-- <% if (apps.length > 0) { %>
      <% apps.forEach(app => { %>
        <a class="single" href="/appointments/<%= app._id %>">
          <h3 class="title"><%= app.name %></h3>
          <p class="snippet">Case: <%= app.casenumber %></p>
          <p class="snippet">Date: <%= app.date %></p>
          <p class="snippet">Time: <%= app.time %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no appointments to display...</p>
    <% } %> -->
    <% let today = new Date() %>
    <% let month = today.getMonth() + 1 %>
    <% if(month < 10) {month = "0" + month} %>
    <% let year = today.getFullYear() %>
    <% let date = today.getDate() %>
    <% if(date < 10) {date = "0" + date} %>
    <% let current_date = `${year}-${month}-${date}` %>
    <% if(apps.length > 0) { %>
      <% apps.forEach(app => { %>
        <% if(app.date === current_date) { %>
          <a class="single" href="/appointments/<%= app._id %>">
            <h3 class="title"><%= app.name %></h3>
            <p class="snippet">Case: <%= app.casenumber %></p>
            <p class="snippet">Date: <%= app.date %></p>
            <p class="snippet">Time: <%= app.time %></p>
          </a>
        <% } %>
      <% }) %>
    <% } else { %>
      <p>There are no appointments to display...</p>
    <% } %>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>